body{
	background-image: url(../images/movies.jpg);
}
	#container{
	width: 940px;
	height: 1000px;
	background-color: rgba(0, 0, 0, 0.76);
	color: #fff;
	font-size: 28px;
	font-family: monospace;
	font-weight: 700;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
}
#welcome{
	color: #bd0000;
	text-align: center;	
	font-family: 'Amatic SC', cursive;
	text-shadow:  1px 1px #ffffff;
}
.theme{
	color: white;
	display: inline-block;
	font-family: 'Poiret One', cursive;
	font-size: 24px;
	margin-left: 40px;
}
#hangman{
	width: 600px;
	height: 300px;
	margin-left: 150px;
	margin-top: 50px;
	margin-bottom: 100px;
	background-color: #000;
}
#hangman img{
	margin-left: 75px;
	border-radius: 15px;
}
#correctGuesses{
	text-align: center;
	border: solid 1px #fff;
	background-color: rgba(51, 174, 10, 0.71);
}
#wrongGuesses{
	text-align: center;
	color: #bd0000;
}
.theme:hover{
	color: #00cc0a;
}






















